<!DOCTYPE html>
<html data-ng-app="practiceApp"> 
<head> 
<title>Greg Domorski's Fantasy Basketball App</title>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">
  $(window).load(function() {
    $(".loader").fadeOut("slow");
})




</script>



<link rel="stylesheet" href="gdomorskibasketball.css">	
</head>
<body>

<center><img src="logo.jpg" style="width:600px;height:120;"</img></center>

<div class="timer">The draft starts in <span id="time">30:00</span> minutes.</div>

 <audio id="soundbar" src="draftsound.mp3" preload="auto"> </audio>

   <table>
      <tr>
        <td colspan="18" class="headtable">Regular Season Standings</td>
      </tr>
      
      <tr class="infoRow">
        <div>
        <td>Fantasy Basketball Team</td>
        <td>W</td>
        <td>L</td>
        <td>T</td>
        <td>PCT</td>
        <td>PF</td>
        <td>PA</td>
        <td>Net Points</td>
        <td><a href="#">GP</a></td>
        <td><a href="#">Home</a></td>
        <td><a href="#">Road</a></td>
        <td><a href="#">Div</a></td>
        <td><a href="#">Pct</a></td>
        <td><a href="#">Conf</a></td>
        <td><a href="#">Pct</a></td>
        <td><a href="#">Non-Conf</a></td>
        <td><a href="#">Streak</a></td>
        <td><a href="#">Last 5</a></td>
        </div>
      </tr>
      
      <tr>
        <td id="teamName"><a href="#">Taiwan Pride </a></td>
        <td>2</td>
        <td>1</td>
        <td>0</td>
        <td class="pct">1.667</td>
        <td>83</td>
        <td>55</td>
        <td>28</td>
        <td>9</td>
        <td>2-0</td>
        <td>0-1</td>
        <td>1-0</td>
        <td>1.000</td>
        <td>2-0</td>
        <td>1.000</td>
        <td>0-1</td>
        <td>1W</td>
        <td>2-1</td>
      </tr>
      
      <tr>
        <td id="teamName"><a href="#">The Ballers</a></td>
        <td>1</td>
        <td>2</td>
        <td>0</td>
        <td class="pct">.333</td>
        <td>79</td>
        <td>86</td>
        <td>-7</td>
        <td>9</td>
        <td>0-2</td>
        <td>1-0</td>
        <td>1-0</td>
        <td>1.000</td>
        <td>1-0</td>
        <td>1.000</td>
        <td>0-2</td>
        <td>2L</td>
        <td>1-2</td>
      </tr>
    </table>

</br>
</br>
<table style="width:890px">


  <tr>
    <td class="headtable"> Team Name </td>
    <td class="headtable"> Player </td>
    <td class="headtable"> Username </td>
    <td class="headtable"> Roster </td>
  <tr>
  <tr>
    <td id="team1"></td>
    <td id="owner1"></td> 
    <td id="username1">what up</td>
    <td id="roster1"></td>
  </tr>
  <tr>
    <td id="team2"></td>
    <td id="owner2"></td> 
    <td id="username2"></td>
    <td id="roster2"></td>
  </tr>
</table>


	



<script> 

function draftTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.text(minutes + ":" + seconds);

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

jQuery(function ($) {
    var thirtyMinutes = 60 * 30,
        display = $('#time');
    draftTimer(thirtyMinutes, display);
});


function PlayerProfile(name, username, team, roster) {

  var g = function(str){return document.getElementById(str);};  
  this.firstTeam = g("team1");  
  this.firstOwner = g("owner1"); 
  this.firstRoster = g("roster1");
  this.firstUsername = g("username1");
  this.secondTeam = g("team2");  
  this.secondOwner = g("owner2"); 
  this.secondRoster = g("roster2");
  this.secondUsername = g("username2");
  this.showFirstName = function(){this.firstOwner.textContent = name};
	this.showFirstUsername = function(){this.firstUsername.textContent = username};
	this.showFirstTeam = function(){this.firstTeam.textContent = team};
  this.showFirstRoster = function(){this.firstRoster.textContent = roster};
  this.showSecondName = function(){this.secondOwner.textContent = name};
  this.showSecondUsername = function(){this.secondUsername.textContent = username};
  this.showSecondTeam = function(){this.secondTeam.textContent = team};
  this.showSecondRoster = function(){this.secondRoster.textContent = roster};

  };
  
	

var player1 = new PlayerProfile('Greg Domorski', 'gdomorski', 'The Ballers', [' Russell Westbrook', ' Kevin Durant', ' Lebron James', ' Chris Paul', ' Carmelo Anthony', ' Kyrie Irving', ' James Harden', ' Dwight Howard', ' Derrick Rose']);

var player2 = new PlayerProfile('Katherine Chen', 'kchen', 'Taiwan Pride', [' Stephen Curry', ' Jeremy Lin', ' Tyson Chandler', ' Chandler Parsons', ' Blake Griffin', ' Tim Duncan', ' Manu Ginobilli']);



player1.showFirstName();
player1.showFirstUsername();
player1.showFirstTeam();
player1.showFirstRoster();
player2.showSecondName();
player2.showSecondUsername();
player2.showSecondTeam();
player2.showSecondRoster();
var sample = document.getElementById("soundbar");
sample.play();



 
 

</script> 


<script src="../angular.min.js">
 var practiceApp = angular.module('practiceApp', []);




  var controllers = {};
  
  controllers.CEOController = function ($scope){
    $scope.ceos = [ 
    {name:'David M. Zaslav', company: 'Discovery Communications, Inc.', compensation: '$156,077,912'},
    {name:'Mario J. Gabelli', company: 'Gamco Investors, Inc. Et Al', compensation: '$88,518,411'},
    {name:'Satya Nadella', company: 'Microsoft Corp', compensation: '$84,308,755'}, 
    {name:'Lawrence J. Ellison', company: 'Oracle Corp', compensation: '$67,261,251'}, 
    {name:'Jon Feltheimer', company: 'Lions Gate Entertainment Corp', compensation: '$63,601,493'}, 
    {name:'T.M. (Roe) Patterson', company: 'Basic Energy Services Inc', compensation: '$62,863,840'},
    {name:'Steven M. Mollenkopf', company: 'Qualcomm Inc', compensation: '$60,740,592'}, 
    {name:'Leslie Moonves', company: 'CBS Corp', compensation: '$57,175,645'},
    {name:'Daniel R. Hesse', company: 'Sprint Corp', compensation: '$47,077,699'},
    {name:'Robert A. Iger', company: 'Walt Disney Co', compensation: '$46,497,018'},
    {name:'Philippe P. Dauman', company: 'Viacom Inc.', compensation: '$44,334,858'},
    {name:'Joseph W. Brown', company: 'MBIA Inc', compensation: '$43,602,334'},
    {name:'Marissa A. Mayer', company: 'Yahoo Inc', compensation: '$42,083,508'},
    {name:'Leonard S. Schleifer, M.D., Ph.D', company: 'Regeneron Pharmaceuticals Inc', compensation: '$41,965,424'},
    {name:'Mr. Joshua W. Sapan', company: 'AMC Networks Inc.', compensation: '$40,313,856'},
    {name:'Marc Benioff', company: 'Salesforce Com Inc', compensation: '$39,907,534'},
    {name:'John R Strangfeld', company: 'Prudential Financial Inc', compensation: '$37,483,092'},
    {name:'Jeffrey R. Immelt', company: 'General Electric Co', compensation: '$37,250,774'},
    {name:'Jeffrey M. Leiden', company: 'Vertex Pharmaceuticals Inc', compensation: '$36,635,468'}
    ];
  }


  practiceApp.controller(controllers)
</script>




  <script src="angular.min.js"></script>
  
  <script>

  //you get access to the angular object, which has access to the angular module. The first parameter is the name of the module. The second is an array with a bunch of helper modules
  var practiceApp = angular.module('practiceApp', []);




  var controllers = {};
  //add a CEO Controller to the controllers object. The $scope is the "glue" between the glue and the controller
  controllers.CEOController = function ($scope){
    $scope.ceos = [ 
    {name: 'Lebron James', team: 'Cleveland Cavaliers', position: 'Forward'},
    {name:'Stephen Curry', team: 'Golden State Warriors', position: 'Point Guard'},
    {name:'Dwight Howard', team: 'Houston Rockets', position: 'Center/Power Forward'}, 
   
    ];
  }


  practiceApp.controller(controllers)

  </script>


<div class="loader"></div>
<p>
<p>
<div class="newPlayer" style="width: 330px; height:284px">

<p>
<center> <h4> Add Player </h4></center>
<p>
<form>
Your Name<br>
<input type="text" name="firstname">
<br>
Username<br>
<input type="text" name="lastname">
<br>
Team Name<br>
<input type="text" name="lastname">
<br>
Roster
<br>
<input type="text" style="width: 200px" name="lastname">
<br>
<button>Submit</button>

</form>


      

</div>
<div>
<iframe width="500" height="315" src="https://www.youtube.com/embed/1b5MB-A9_LM?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
<div>


  <br />
    <br />


  <div class="checkout" data-ng-controller="CEOController">
  <h3><center>Player Ranker</center></h3>
  Insert player name here: 
  <input type="text" data-ng-model="name" /> 
    

  <div>
    <ul>
      <li data-ng-repeat="chiefs in ceos | filter:name | orderBy:compensation"> {{ chiefs.name }} - {{ chiefs.team }} - {{chiefs.position }}</li>
    </ul>
  </div>
  </div>


</body>
</html>