<!DOCTYPE html>
<html data-ng-app="practiceApp"> 
<head> 
<title>Greg Domorski's Fantasy Basketball App</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="scripts/angular.min.js"></script>
<link rel="stylesheet" href="css/gdomorskibasketball.css">

<script type="text/javascript">
  $(window).load(function() {
    $(".loader").fadeOut("slow");
})
</script>


	
</head>
<body>

<center><img src="images/logo.jpg" style="width:600px;height:120;"</img></center>
<center>
<div class="timer">The draft starts in <span id="time">30:00</span> minutes.</div>

<audio id="soundbar" src="sounds/draftsound.mp3" preload="auto"> </audio>

   <table>
      <tr>
        <td colspan="18" class="headtable">Regular Season Standings</td>
      </tr>
      
      <tr class="infoRow">
        <div>
        <td>Fantasy Basketball Team</td>
        <td>W</td>
        <td>L</td>
        <td>T</td>
        <td>PCT</td>
        <td>PF</td>
        <td>PA</td>
        <td>Net Points</td>
        <td><a href="#">GP</a></td>
        <td><a href="#">Home</a></td>
        <td><a href="#">Road</a></td>
        <td><a href="#">Div</a></td>
        <td><a href="#">Pct</a></td>
        <td><a href="#">Conf</a></td>
        <td><a href="#">Pct</a></td>
        <td><a href="#">Non-Conf</a></td>
        <td><a href="#">Streak</a></td>
        <td><a href="#">Last 5</a></td>
        </div>
      </tr>
      
      <tr>
        <td id="teamName"><a href="#">Taiwan Pride </a></td>
        <td>2</td>
        <td>1</td>
        <td>0</td>
        <td class="pct">1.667</td>
        <td>83</td>
        <td>55</td>
        <td>28</td>
        <td>9</td>
        <td>2-0</td>
        <td>0-1</td>
        <td>1-0</td>
        <td>1.000</td>
        <td>2-0</td>
        <td>1.000</td>
        <td>0-1</td>
        <td>1W</td>
        <td>2-1</td>
      </tr>
      
      <tr>
        <td id="teamName"><a href="#">The Ballers</a></td>
        <td>1</td>
        <td>2</td>
        <td>0</td>
        <td class="pct">.333</td>
        <td>79</td>
        <td>86</td>
        <td>-7</td>
        <td>9</td>
        <td>0-2</td>
        <td>1-0</td>
        <td>1-0</td>
        <td>1.000</td>
        <td>1-0</td>
        <td>1.000</td>
        <td>0-2</td>
        <td>2L</td>
        <td>1-2</td>
      </tr>
    </table>

</br>
</br>
<table style="width:890px">


  <tr>
    <td class="headtable"> Team Name </td>
    <td class="headtable"> Player </td>
    <td class="headtable"> Username </td>
    <td class="headtable"> Roster </td>
  <tr>
  <tr>
    <td id="team1"></td>
    <td id="owner1"></td> 
    <td id="username1"></td>
    <td id="roster1"></td>
  </tr>
  <tr>
    <td id="team2"></td>
    <td id="owner2"></td> 
    <td id="username2"></td>
    <td id="roster2"></td>
  </tr>
</table>

  </center>



  
  <script>


  var practiceApp = angular.module('practiceApp', []);




  var controllers = {};
  
  controllers.PlayerController = function ($scope){
    $scope.players = [ 
    {name: 'Lebron James', team: 'Cleveland Cavaliers', position: 'Forward'},
    {name:'Stephen Curry', team: 'Golden State Warriors', position: 'Point Guard'},
    {name:'Dwight Howard', team: 'Houston Rockets', position: 'Center/Power Forward'}, 
   
    ];
  }


  practiceApp.controller(controllers)

  </script>


<div class="loader"></div>
<p>
<p>


<table align="center">
  <tr>
    <td>
        <div class="newPlayer" style="width: 330px; height:284px">
        <p>
        <center> <h4> Add Player </h4></center>
        <p>
        <form>
        Your Name<br>
        <input type="text" name="firstname">
        <br>
        Username<br>
        <input type="text" name="lastname">
        <br>
        Team Name<br>
        <input type="text" name="lastname">
        <br>
        Roster
        <br>
        <input type="text" style="width: 200px" name="lastname">
        <br>
        <button>Submit</button>
        </form>
        </div>
    </td>
    <td>
        <div>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/1b5MB-A9_LM?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe> 
        </div>
    </td>
</tr>


<tr>
  <td>
  <div class="checkout" style="width: 350px; height:284px" data-ng-controller="PlayerController">
  <h3><center>Player Ranker</center></h3>
  Insert player name here: 
  <input type="text" data-ng-model="name" /> 
    


    <ul>
      <li data-ng-repeat="chiefs in players | filter:name | orderBy:name"> {{ chiefs.name }} - {{ chiefs.team }} - {{chiefs.position }}</li>
    </ul>
  
  </div>
  </td>
</tr>

  </table>

<script src="scripts/table.js"></script>

</body>
</html>