<!DOCTYPE html>
<html data-ng-app="practiceApp"> 
<head> 
<title>Greg Domorski's Fantasy Basketball App</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="css/main.css">


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="scripts/angular.min.js"></script>



<script type="text/javascript">
  $(window).load(function() {
    $(".loader").fadeOut("slow");
})
</script>




  
</head>
<body class="irvingwallpaper">
  <div class="loader"></div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="index.html">Domorski Fantasy Basketball App</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="standings.html">Team Standings</a></li>
        <li><a href="rosters.html">Team Info</a></li> 
        <li class="active"><a href="playerlookup.html">Player Finder</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="signup.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>





<div class="container well">
   <div data-ng-controller="PlayerController">
    <h3><center>Player Finder</center></h3>
      Insert player name here: 
      <input type="text" data-ng-model="name" /> 
    


    <ul>
      <li data-ng-repeat="playerdirect in players | filter:name | orderBy:name"> <b> Name: </b>{{ playerdirect.name }} <b> Team: </b> {{ playerdirect.team }} <b> Position: </b> {{playerdirect.position }} <b> Points: </b> {{playerdirect.points}}</li>
    </ul>
  
  
  </div>
</div>




<script src="scripts/app.js"></script>
<script src="scripts/controllers.js"></script>

</body>
</html>